/* ============================= */
/* RESET */
/* ============================= */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  }

/* ============================= */
/* BODY */
/* ============================= */

body {

```
font-family:
    Arial,
    Helvetica,
    sans-serif;

background: #080808;

color: white;
```

}

/* ============================= */
/* SMOOTH SCROLL */
/* ============================= */

html {

```
scroll-behavior: smooth;
```

}

/* ============================= */
/* LINK */
/* ============================= */

a {

```
text-decoration: none;
```

}
