.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    font-size: 80px;
}

.home-slogan {
    font-size: 22px;
}

.explore-button {
    padding: 16px 40px;
    border-radius: 12px;
}
